<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Some Images Samples</h1>
          <div class="h-1 w-20 bg-indigo-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Below are some images of services we provided and the sample images for our work.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/woodenPaint.jpg" >
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Wooden</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Wooden Painting</h2>
            <p class="leading-relaxed text-base">Above image provided is the sample image of wooden paint we provide. We provide the best wooden paint which leads to increase in wood lifecycle.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/InteriorPaint.jpg" alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Interior</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Interior Paint</h2>
            <p class="leading-relaxed text-base">Quality of paint we provide for interior is of best quality with expertise</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/ExteriorPaint.jpg" alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Exterior </h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Exterior Painting</h2>
            <p class="leading-relaxed text-base">TBA</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="assets/FullFront.jpg" alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Full Front</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Full Front Painting</h2>
            <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
          </div>
        </div>
      </div>
    </div>
  </section>